{% extends "base.html" %}
{% import "macros.html" as macros %}
{% import "bootstrap/wtf.html" as wtf %}

<!-- {% block head %}
    {{ super() }}
    
{% endblock  %} -->

{% block title %} 
    {{ super() }}
    Bienvenido 
{% endblock %}

{% block content %}
    {% if username %}
        <h1 style="text-align: center">Bienvenido, {{ username | capitalize }}</h1>
    {% endif %}
    {% if user_ip %}
        <div class="container" style="text-align: left">
            <h2 class="text-right">Welcome To Instragram 🚀👨‍🚀 :) 💚, tu Ip es {{user_ip}} </h1>
            <h3 class="text-right">Captura tus fotos, captura el mundo 🌌</h2>
            <div>
                <img style= "max-width: 30%; align-content: left" 
                src="{{ url_for('static', filename='images/logo-inst.png') }}">
            </div>
            
                       
            <div class="container">
                <ul class="checklist" style="text-align: right">
                    {% for todo in todos %}
                        {{macros.render_todo(todo)}}
                    {% endfor %}
                </ul>
            </div>
        </div>
        
    {% else %}
        <a href="{{  url_for("index") }}"> Ir a Inicio </a>
    {% endif %}

{% endblock %}

