{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %} 
    {{ super() }}
    Login
{% endblock %}

{% block content %}
    {% if username %}
        <h1>Bienvenido, {{ username | capitalize }}</h1>
    {% endif %}
    <div class="container" style="text-align: star">
        <div>
            <img style= "max-width: 50%; align-content: left" 
            src="{{ url_for('static', filename='images/instagram.png') }}">
        </div>
    </div>
    <div class="container col-lg-4 col-md-4 col-sm-6">
        <ul class="checklist"></ul>{{ wtf.quick_form(login_form)}}
    </div>
    <div class="container" style="text-align: center">
        <div>
            <img style= "max-width: 70%; align-content: right" 
            src="{{ url_for('static', filename='images/instagram-cel.jpg') }}">
        </div>
    </div>
        
{% endblock %}