<!-- <nav>
    <ul>
        <img src="{{url_for("static", filename= "images/platzi.jpg")}}" alt="Platzi Logo">
        <li><a href="{{ url_for("index") }}">Ir a Inicio</a></li>
        <li><a href="https://platzi.com" target="_blank">Ir a Platzi</a></li>
    </ul>
</nav> -->

<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class=""navbar-header">
            <button type="button"
                    class="navbar-toggler" 
                    data-toggle="collapse" 
                    data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('index') }}" >
                    <img src="{{ url_for('static', filename='images/logo-inst.png') }}"
                         style="max-width: 40px; align-content: left;"
                         alt="Instagram logo">
            </a>
                   
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a class="nav-item nav-link active" href="{{ url_for('index') }}">Inicio<span class="sr-only">(current)</span></a>
                <li><a class="nav-item nav-link" href="https://www.instagram.com/" target="_blank">InstagramOficial</a>
                <li><a class="nav-item nav-link" href="http://localhost:5000/auth/login" target="_blank">Login</a>
            </ul>
        </div>
     </div>
</div>





