{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %} 
    {{ super() }}
    Signup
{% endblock %}

{% block content %}
    <div class="container" style="text-align: star">
        <div>
            <img style= "max-width: 50%; align-content: left" 
            src="{{ url_for('static', filename='images/instagram.png') }}">
        </div>
    </div>
    <h1 style="text-align: left">Registra un cuenta</h1>
    <div class="container col-lg-4 col-md-4 col-sm-6">
        <ul class="checklist"></ul>{{ wtf.quick_form(signup_form)}}
    </div>
    <div class="container" style="text-align: center">
        <div>
            <img style= "max-width: 70%; align-content: right" 
            src="{{ url_for('static', filename='images/instagram-cel.jpg') }}">
        </div>
    </div>
        
{% endblock %}